body{
    background-color: rgb(255, 0, 0);
    color: black;
}
header{
margin:45px ;
background-color: rgb(177, 199, 241);
text-size-adjust: 85px;
justify-content: center;
}
section{
background-color: rgb(255, 0, 0);
margin: 45px;
display: flex;
border:solid 5px rgb(#332B2B), (#A03B35), (#753E3B)
}

