body{
    background-color: rgb(255, 0, 0);
    color: black;
}
header{
margin:45px ;
background-color: rgb(177, 199, 241);
text-size-adjust: 85px;
justify-content: center;
}
section{
background-color: aqua;
margin: 45px;
display: flex;
}
padding 